Homeassistant/Nodered Mqtt Sim.json
[{"id":"318a116a4b307866","type":"tab","label":"Nodered Mqtt Sim","disabled":false,"info":"","env":[]},{"id":"220c8a6ddec61838","type":"mqtt in","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/command/led/1","qos":"2","datatype":"auto-detect","broker":"77467579a5488579","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":220,"wires":[["2a6004b6d093c763"]]},{"id":"2a6004b6d093c763","type":"mqtt out","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/state/led/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77467579a5488579","x":490,"y":220,"wires":[]},{"id":"5543d377cfae6b50","type":"mqtt in","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/command/led/2","qos":"2","datatype":"auto-detect","broker":"77467579a5488579","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":280,"wires":[["5e471345a4d298c3"]]},{"id":"5e471345a4d298c3","type":"mqtt out","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/state/led/2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77467579a5488579","x":490,"y":280,"wires":[]},{"id":"7e600693d43f5125","type":"inject","z":"318a116a4b307866","name":"Every 10 S","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["e51c185ee710f29b","69b4431fae145356"]]},{"id":"35eb21021bfca746","type":"mqtt out","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/state/temperature/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77467579a5488579","x":620,"y":360,"wires":[]},{"id":"e51c185ee710f29b","type":"random","z":"318a116a4b307866","name":"Random 25-35","low":"25","high":"35","inte":"true","property":"payload","x":340,"y":360,"wires":[["35eb21021bfca746"]]},{"id":"69b4431fae145356","type":"random","z":"318a116a4b307866","name":"Random 65 - 85","low":"65","high":"85","inte":"true","property":"payload","x":340,"y":420,"wires":[["89c8d932c2f096da"]]},{"id":"89c8d932c2f096da","type":"mqtt out","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/state/humidity/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77467579a5488579","x":610,"y":420,"wires":[]},{"id":"d3a8e4c836ba7d90","type":"mqtt out","z":"318a116a4b307866","name":"","topic":"home/tm00/nodered/state/door/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"77467579a5488579","x":730,"y":60,"wires":[]},{"id":"310199f300d8ca7d","type":"inject","z":"318a116a4b307866","name":"Every 20 S  on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"on","payloadType":"str","x":140,"y":60,"wires":[["3cb5a8948caf054b","d3a8e4c836ba7d90","a9e20bcb79f8088b"]]},{"id":"3cb5a8948caf054b","type":"delay","z":"318a116a4b307866","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":140,"wires":[["b3ed79672040b842"]]},{"id":"a9e20bcb79f8088b","type":"debug","z":"318a116a4b307866","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":120,"wires":[]},{"id":"b3ed79672040b842","type":"change","z":"318a116a4b307866","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["d3a8e4c836ba7d90","a9e20bcb79f8088b"]]},{"id":"77467579a5488579","type":"mqtt-broker","name":"Localhost","broker":"Localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]